.K73aZjme4xQ6nvLflA1q { /*!*/ }
.fLFsafkZpLxfdWlRdky0 {
}
.fLFsafkZpLxfdWlRdky0 .phone-country-list {
margin: 0;
padding: 0;
list-style: none;
}
.fLFsafkZpLxfdWlRdky0 .phone-country-list li {
display: flex;
align-items: center;
padding: 5px 20px;
line-height: 20px;
cursor: pointer;
}
.fLFsafkZpLxfdWlRdky0 .phone-country-list li .country-name {
flex-grow: 1;
padding: 0 10px;
}
.fLFsafkZpLxfdWlRdky0 .phone-country-list li#iti-item-ru,
.fLFsafkZpLxfdWlRdky0 .phone-country-list li#iti-item-sg {
pointer-events: none;
}
.fLFsafkZpLxfdWlRdky0 .phone-country-list li#iti-item-ru .country-name, .fLFsafkZpLxfdWlRdky0 .phone-country-list li#iti-item-sg .country-name {
color: var(--text-color-level2, rgba(26, 26, 26, 0.61));
text-decoration: line-through;
}
.fLFsafkZpLxfdWlRdky0 .phone-country-list li#iti-item-ru .dial-code, .fLFsafkZpLxfdWlRdky0 .phone-country-list li#iti-item-sg .dial-code {
color: var(--text-color-level2, rgba(26, 26, 26, 0.61));
}
.fLFsafkZpLxfdWlRdky0 .phone-country-list li.highlight {
background-color: var(--text-color-level3, rgba(26, 26, 26, 0.1));
}
.fLFsafkZpLxfdWlRdky0 .phone-country-list li.active {
background-color: var(--primary-color, rgb(0, 105, 255));
color: var(--primary-text-color, #ffffff);
}
.fLFsafkZpLxfdWlRdky0 .phone-country-list li.divider {
height: 1px;
margin: 5px 0;
padding: 0;
background: var(--text-color-level3, rgba(26, 26, 26, 0.1));
}
.aWoDTZj3tpHPoymi8quu { /*!*/ }
.OyJmhynhnr6XArgZRbQR {
}
.OyJmhynhnr6XArgZRbQR .phone-field-wrapper {
position: relative;
}
.OyJmhynhnr6XArgZRbQR .phone-field-wrapper .phone-field-flag-container {
position: absolute;
top: 0;
bottom: 0;
}
.OyJmhynhnr6XArgZRbQR .phone-field-wrapper .phone-field-flag-container .phone-field-flag-box {
position: relative;
width: 46px;
height: 100%;
outline: none;
cursor: pointer;
}
.OyJmhynhnr6XArgZRbQR .phone-field-wrapper .phone-field-flag-container .phone-field-flag-box:hover,
.OyJmhynhnr6XArgZRbQR .phone-field-wrapper .phone-field-flag-container .phone-field-flag-box:focus {
background: rgb(0 0 0 / 5%);
}
.OyJmhynhnr6XArgZRbQR .phone-field-wrapper .phone-field-flag-container .phone-field-flag-box .iti-flag {
position: absolute;
top: 0;
right: 0;
bottom: 0;
left: 0;
margin: auto;
}
.OyJmhynhnr6XArgZRbQR .phone-field-wrapper input {
padding-left: 60px;
}
.k_ZZ7OdXubH_HYeZlfCg { /*!*/ }
.Y8PqBt4AhElGS0FFIfvi {
}
.Y8PqBt4AhElGS0FFIfvi.jYZ69ydmKkIU5kV3Bw6p {
position: absolute;
top: 0;
padding-top: 24px;
background: var(--color-bg-white-l-1, rgba(255, 255, 255, 1));
}
._JWW8U770Y7_qPA18Wsw { /*!*/ }
.L_5N20RHSgAIAryRaKUv {

position: relative;
overflow-y: auto;
-webkit-overflow-scrolling: touch;
background:
linear-gradient(var(--text-color-level3, rgba(26, 26, 26, 0.1)), var(--text-color-level3, rgba(26, 26, 26, 0.1))),
linear-gradient(var(--text-color-level3, rgba(26, 26, 26, 0.1)), var(--text-color-level3, rgba(26, 26, 26, 0.1))) 0 100%;
background-size: 100% 1px;
background-repeat: no-repeat;
}
.L_5N20RHSgAIAryRaKUv.G_2_LO_6DzmuIgFzYJND {
max-height: 300px;
}
.L_5N20RHSgAIAryRaKUv::before,
.L_5N20RHSgAIAryRaKUv::after {
content: "";
z-index: -1;
display: block;
height: 1px;
background: linear-gradient(var(--color-bg-white-l-1, rgba(255, 255, 255, 1)), var(--color-bg-white-l-1, rgba(255, 255, 255, 1)));
}
